# SQL & Database Connections
A lot of data that is collected and used for analytics is processed with *Structured Query Language*, or more simply SQL. Thanks to Jupyter being based on python kernels, it is easy to connect a database and start writing SQL queries from within a notebook environemnt.

First, you'll need a database to connect to. The standard way to interface with relational databases is defined in [PEP 249 Python Database API Specification v2.0](https://legacy.python.org/dev/peps/pep-0249/).

## Establishing a Connection

Below is a simple example of how to connect into a [PostgreSQL database](https://www.postgresql.org/). I am using this database for an example [Django project](https://github.com/mackertp/decoupled_dj). Databases are used as downstream mechanisms for storing data. Applications are built off of them to provide back insights and value. The collection of data can become unwieldy and [constrataints](https://vertabelo.com/blog/database-constraints-types/#:~:text=Database%20constraints%20are%20a%20key,or%20deleted) must always be taken into consideration. 

I will use [SQLAlchemy](https://docs.sqlalchemy.org/en/14/intro.html) to demonstrate how we can quickly connect into this database with python to analyze data. Always write well-documented processes for what it is you plan to do with data that is extracted out of a database.

In [1]:
import os
import sqlalchemy
import pandas as pd

In [2]:
sqlalchemy.__version__

'1.4.52'

Always use environment variables when looking to access a database or system API. This adds a needed layer of security to your processes.

In [3]:
user=os.environ['DB_USER']
password=os.environ['DB_PASSWORD']
host=os.environ['DB_HOST']
dbname=os.environ['DB_NAME']
port=os.environ['DB_PORT']

SQLAlchemy is based on the concept of an "engine" take a look at the documentation linked above, and the diagram below.

![](https://docs.sqlalchemy.org/en/14/_images/sqla_arch_small.png)

In [4]:
engine = sqlalchemy.create_engine(
    'postgresql+psycopg2://{}:{}@{}/{}'.format(user, password, host, dbname)
)

## Querying Data

Once you are connected to a databse, you're typically going to try and query/format data that needs to be analyzed. To do this, we can write SQL queries and then use pandas to load the result into a dataframe. I encourage you at this stage to beef up your python skills by referencing my notebooks in the *Python* folder.

In [5]:
sql = """
SELECT id, object_id, user_id, action_time
FROM django_admin_log;
"""

This is a simple query for demonstration purposes. You'll see the users that have been created through my Django project.

In [6]:
users = pd.read_sql_query(sql, engine)
users.head()

   id object_id  user_id                       action_time
0   1         1        1  2024-02-03 03:29:48.615858-05:00
1   2         1        1  2024-02-03 03:32:14.628012-05:00
2   3         2        1  2024-02-03 03:34:39.767846-05:00
3   4         2        1  2024-02-03 03:35:12.900028-05:00
4   5         1        1  2024-02-03 03:35:34.619230-05:00

<p style="color:green; font-size:24px; font-style: italic;">“The cost of a thing is the amount of what I will call life which is required to be exchanged for it, immediately or in the long run.”</p>

<p style="font-weight: bold;">― Henry David Thoreau, Walden</p>